<figure>
  {% if img_name is not ending_with(".svg") %}
    {% set processed_img = resize_image(path=page.colocated_path ~ img_name, width=width, height=height, op="fit") %}
    <a href="{{ img_name }}">
      <img src="{{ processed_img.url | safe }}" alt="{{ alt }}" />
    </a>
  {% else %}
    <a href="{{ img_name }}">
      <img src="{{ img_name }}" alt="{{ alt }}" />
    </a>
  {% endif %}
  <figcaption><b>Figure {{ nth }}</b>: {{ caption | markdown(inline=true) | safe }}</figcaption>
</figure>
