{% import "macros.html" as macros %}
<!doctype html>
<html lang="en-US">
<head>
  {% block redirect %}{% endblock redirect %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ get_url(path='styles/normalize.css', cachebust=true) }}">
  <link rel="stylesheet" href="{{ get_url(path='styles/base.css', cachebust=true) }}">
  {% block stylesheet %}{% endblock stylesheet %}
  {% block katex %}{% endblock katex %}
</head>

<div class="site-wrapper">
  <header class="site-header">
    <h2>Ashutosh Biswas</h2>
    <nav>
      <a href="{{ get_url(path='/') }}">Home</a>
      <a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a>
      <a href="{{ get_url(path='@/projects/_index.md') }}">Projects</a>
      <a href="{{ get_url(path='@/gallery/_index.md') }}">Gallery</a>
    </nav>
  </header>

  <main>
    {%- block main %} {% endblock main -%}
  </main>

  <footer class="site-footer">
    <p>© Ashutosh Biswas, 2024</p>
    <p><a href="https://github.com/ashutoshbw/ashutoshbw.github.io" target="_blank">View source</a></p>
    <p>Last built on {{ now(utc=true) | date(format='%e %B %Y at %l:%M %p UTC') }}</p>
  </footer>
</div>
