{% import "macros.html" as macros %}
<!doctype html>
<html lang="en-US">
<head>
  {% block redirect %}{% endblock redirect %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ get_url(path='styles/normalize.css', cachebust=true) }}">
  <link rel="stylesheet" href="{{ get_url(path='styles/base.css', cachebust=true) }}">
</head>

<header>
  <nav>
      <a href="{{ get_url(path='/') }}">Home</a>
      <a href="{{ get_url(path='@/blog/_index.md') }}">Blog</a>
      <a href="{{ get_url(path='@/projects/_index.md') }}">Projects</a>
      <a href="{{ get_url(path='@/gallery/_index.md') }}">Gallery</a>
  </nav>
</header>

<main>
{%- block main %} {% endblock main -%}
</main>

<footer>
Footer
</footer>
