{% extends "base.html" %}

{% block main %}

<h1>
  👋 Hi, my name is Ashutosh(nickname Palash)
</h1>
<h3>
  Who am I?
</h3>

<p>
  I'm about 30 years old, making no money, having no girlfriend, living at home with my parents. I wasted a very long period of my life on the persuit of perfection which I believe, resulted in my current personality which I mostly don't like. My goal for the rest of my life is not to give perfection much of a priority. So I'm in the process of killing my self and forging a new one which doesn't give fucks all the time. I'm really tired of giving fucks! The more I'm going in this direction the more I'm moving towards my true self and the more I'm starting to love myself.
</p>

<p>
  I love learning and making things with coding. Currently learning web dev stuffs with a focus on JavaScript and preparing myself for my first dev job, srsly.
</p>

<p>
  Apart from my <a href="{{ get_url(path="@/garden/_index.md") }}">digital garden</a>(a fancy term for messy notes that evolve over time, without a guarantee) here, I occasionally write technical articles at <a href="https://www.freecodecamp.org/news/author/ashutoshbw/" target="_blank">freeCodeCamp</a> and <a href="https://dev.to/ashutoshbw" target="_blank">DEV.to</a>. Here are other places where you can find me on the internet:
</p>

<p>
  <a href="https://github.com/ashutoshbw" target="_blank">Github</a> ·
  <a href="https://www.linkedin.com/in/ashutosh-biswas/" target="_blank">Linkedin</a> ·
  <a href="https://twitter.com/ashutoshbw" target="_blank">Twitter</a> ·
  <a href="https://www.facebook.com/ashutoshbw314" target="_blank">Facebook</a> ·
  <a href="https://www.youtube.com/@ashutoshbiswas6059" target="_blank">Youtube</a>
</p>

{% endblock content %}
