{% extends "base.html" %}

{% block main %}

<h2>
  Hi, I'm Ashutosh 👋
</h2>
<h3>
Welcome to my little corner of the internet!
</h3>

<p>
  I'm passionate about programming, designing and building interactive UIs for the web. Currently, I'm learning to do these things better. I love delving deep into any subject that captures my curiosity. The technical things I'm currently learning include JavaScript, TypeScript, CSS, HTML, Node.js, React, Git, Linux command line, and SQL.
</p>

<p>
  I've a lot of non-tech interests. I can't manage to pursue all of them at the same time. Currently I'm learning to play bansuri. 
</p>

<p>
  Apart from <a href="{{ get_url(path="@/blog/_index.md") }}">my blog</a> on this site, I occasionally write technical articles at <a href="https://www.freecodecamp.org/news/author/ashutoshbw/" target="_blank">freeCodeCamp</a> and <a href="https://dev.to/ashutoshbw" target="_blank">DEV.to</a>. Here are other places where you can find me on the internet:
</p>

<ul>
  <li><a href="https://github.com/ashutoshbw" target="_blank">Github</a></li>
  <li><a href="https://www.linkedin.com/in/ashutosh-biswas/" target="_blank">Linkedin</a></li>
  <li><a href="https://twitter.com/ashutoshbw" target="_blank">Twitter</a></li>
  <li><a href="https://www.facebook.com/ashutoshbw314" target="_blank">Facebook</a></li>
  <li><a href="https://www.youtube.com/@ashutoshbiswas6059" target="_blank">Youtube</a></li>
</ul>

{% endblock content %}
