{% extends "base.html" %}

{% block main %}

<p>
  Hi, I'm Ashutosh. Welcome to my digital garden.
</p>

<p>
  I'm a web developer from Bangladesh. I'm an author at <a href="https://www.freecodecamp.org/news/author/ashutoshbw/" target="_blank">freeCodeCamp</a>. I am passionate about turning cool ideas into reality through programming and design.
</p>

<h2>What am I doing now?</h2>
<p>
  Currently I'm learning everything relevant, taking notes, writing articles and building my dream projects to stand out, making it easy to land my first dev job.
</p>

{% endblock content %}
