{% macro render_tag_links_of_post(post) %}
  {% set tags = post.taxonomies.tags %}
  {% if tags %}
    <span>
      {% for tag in tags %}
        <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </span>
  {% endif %}
{% endmacro render_tag_links_of_post %}

{% macro render_all_tags() %}
  {% set tagsObject = get_taxonomy(kind="tags", required=false) %}
  {% set tags = tagsObject.items %}
  {% for tag in tags | sort(attribute="pages") | reverse %}
    <a href="{{ tag.permalink | safe }}">{{ tag.name }} <sup>{{tag.pages | length}}</sup></a>{% if not loop.last %}, {% endif %}
  {% endfor %}
{% endmacro render_all_tags %}

{% macro render_date(date, updated, itemprop=false) %}
  {% if updated %}
    {% set date = updated %}
  {% endif %}
  <time {% if itemprop %}itemprop="{{ itemprop }}"{% endif %} datetime="{{ date }}">{{ date | date(format='%e %B %Y') }}</time>
{% endmacro render_date %}

{% macro render_post(post) %}
  <a href="{{ post.permalink | safe }}" class="post-link">{{ post.title | markdown(inline=true) | safe }}</a>
  <span class="post-meta">
    {{ self::render_date(date=post.date, updated=post.updated) }}
    {{ self::render_tag_links_of_post(post=post) }}
  </span>
{% endmacro render_post %}

{% macro render_posts(posts) %}
  <ul class="posts">
    {% for post in posts %}
      <li>
        {{ self::render_post(post=post) }}
      </li>
    {% endfor %}
  </ul>
{% endmacro render_posts %}

{% macro render_gallery_photos(file) %}
  {% set data = load_data(path="@/gallery/" ~ file) %}
  {% for img_data in data %}
    {% set processed_img = resize_image(path="/content/gallery/" ~ img_data.file, width=322, height=200, op="fit") %}
    <a href="{{ get_url(path="gallery/" ~ img_data.file) }}">
      <img src="{{ processed_img.url | safe }}" alt="{{ img_data.alt }}" />
    </a>
  {% endfor %}
{% endmacro render_gallery_photos %}
