{% extends "base.html" %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ get_url(path='styles/note.css', cachebust=true) }}">
{% endblock stylesheet %}

{% block script %}
  <script type="module">
    import initPadatika from "https://esm.sh/padatika";

    initPadatika({notes: "", refs: "R"});
  </script>
  {% if page.extra.katex %}
    {% include "katex.html" %}
  {% endif %}
{% endblock script %}

{% block main %}
  <article class="note" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1 itemprop="headline">{{ page.title | markdown(inline=true) | safe }}</h1>
      <div class="note-meta">
        <p>
          Tags → <i>{{ macros::render_tag_links_of_note(note=page) }}</i>
        </p>
        <p>
          {% if page.updated %}
          <span>Last updated → <i>{{ macros::render_date(date=0, updated=page.updated, itemprop="dateModified") }}</i></span> ·
          {% endif %}
          <span>Published → <i>{{ macros::render_date(date=page.date, updated=0, itemprop="datePublished") }}</i></span>
        </p>
        <p>
          {% if page.extra.status %}
            <span>Status → <em>{{ page.extra.status }}</em></span>
          {% endif %}
          {% if page.extra.importance %}
            {% if page.extra.status %} · {% endif %}
            <span>importance → <em>{{ page.extra.importance }}</em></span>
          {% endif %}
          {% if page.extra.certainty %}
            {% if page.extra.importance %} · {% endif %}
            <span>certainty → <em>{{ page.extra.certainty }}</em></span>
          {% endif %}
        </p>
      </div>
    </header>

    {{ page.content | replace(from="[<em>", to="<sup data-padatika>") | replace(from="</em>]", to="</sup>") | safe }}

    {% set len = page.backlinks | length %}
    {% if len != 0 %}
      {% if len == 1 and page.backlinks.0.permalink == page.permalink %}
        {# do nothing #}
        {% else %}
        <footer>
          <h2 id="backlinks">Backlinks</h2>
          <ul class="notes">
            {% for link in page.backlinks %}
              {% if link.permalink != page.permalink %}
                {% set path = link.permalink | split(pat="/") | slice(start=3, end=5) | concat(with="index.md") | join(sep="/")  %}
                <li>{{ macros::render_note(note=get_page(path=path)) }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </footer>
      {% endif %}
    {% endif %}
  </article>
{% endblock main %}
