{% extends "base.html" %}

{% block redirect %}
  {% if page.extra.canonical.redirect and page.extra.canonical.url %}
    <meta http-equiv="refresh" content="0; url={{ page.extra.canonical.url | safe}}">
  {% elif page.extra.canonical.url %}
    <link rel="canonical" href="{{ page.extra.canonical.url | safe }}"/>
  {% endif %}
{% endblock redirect %}

{% block main %}
  <header>
    <h1>{{ page.title | markdown(inline=true) | safe }}</h1>
    <p>Published on {{ macros::render_date(date=page.date) }} · Tagged with {{ macros::render_tag_links_of_post(post=page) }}</p>
  </header>
  {{ page.content | safe }}
{% endblock main %}
