{% extends "base.html" %}

{% block redirect %}
  {% if page.extra.canonical.redirect and page.extra.canonical.url %}
    <meta http-equiv="refresh" content="0; url={{ page.extra.canonical.url | safe}}">
  {% elif page.extra.canonical.url %}
    <link rel="canonical" href="{{ page.extra.canonical.url | safe }}">
  {% endif %}
{% endblock redirect %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ get_url(path='styles/post.css', cachebust=true) }}">
{% endblock stylesheet %}

{% block katex %}
  {% if page.extra.katex %}
    {% include "katex.html" %}
  {% endif %}
{% endblock katex %}

{% block main %}
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1 itemprop="headline">{{ page.title | markdown(inline=true) | safe }}</h1>
      {% if page.updated %}
        <p>Last updated on {{ macros::render_date(date=page.updated, itemprop="dateModified") }}</p>
      {% endif %}
      <p>Published on {{ macros::render_date(date=page.date, itemprop="datePublished") }} · Tagged with {{ macros::render_tag_links_of_post(post=page) }}</p>
    </header>
    {{ page.content | safe }}
  </article>
{% endblock main %}
