{% extends "base.html" %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ get_url(path='styles/post.css', cachebust=true) }}">
{% endblock stylesheet %}

{% block script %}
  <script defer src="{{ get_url(path='js/footnotes.js', cachebust=true) }}"></script>
  {% if page.extra.katex %}
    {% include "katex.html" %}
  {% endif %}
{% endblock script %}

{% block main %}
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1 itemprop="headline">{{ page.title | markdown(inline=true) | safe }}</h1>
      {% if page.updated %}
        <p>Last updated on {{ macros::render_date(date=page.updated, itemprop="dateModified") }}</p>
      {% endif %}
      <p>Published on {{ macros::render_date(date=page.date, itemprop="datePublished") }} · Tagged with {{ macros::render_tag_links_of_post(post=page) }}</p>
    </header>
    {{ page.content | safe }}

    {% set len = page.backlinks | length %}
    {% if len != 0 %}
      {% if len == 1 and page.backlinks.0.permalink == page.permalink %}
        {# do nothing #}
        {% else %}
        <footer>
          <h2>Backlinks</h2>
          <ul class="posts">
            {% for link in page.backlinks %}
              {% if link.permalink != page.permalink %}
                {% set path = link.permalink | split(pat="/") | slice(start=3, end=5) | concat(with="index.md") | join(sep="/")  %}
                <li>{{ macros::render_post(post=get_page(path=path)) }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </footer>
      {% endif %}
    {% endif %}
  </article>
{% endblock main %}
