{% extends "base.html" %}

{% block title %}{{ section.title }} · {{ super() }}{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{{ get_url(path='styles/projects.css', cachebust=true) }}">
{% endblock stylesheet %}

{% block main %}
  <h1>My projects</h1>
  <p>Below are some of my favorite projects:</p>
  {% set data = load_data(path="@/projects/data.json") %}
  {% for project in data %}
    <section class="project">
      <h2>{{ project.name }}</h2>
      <p>{{ project.description }}</p>
      <p>
        <b>Tools used</b>:
        {% for item in project.toolsUsed  %}
          <span>{{ item }}</span>
          {%- if loop.last == false %}, {% endif %}
        {% endfor %}
      </p>
      <p>
        <b>Links</b>:
        {% for name, link in project.links %}
          <span><a href="{{ link | safe }}">{{ name }}</a></span>
          {%- if loop.last == false %}, {% endif %}
        {% endfor %}
      </p>
    </section>
  {% endfor %}
{% endblock main %}
