:root {
  --unitless-font-size: 16;
  font-size: calc(var(--unitless-font-size) * 1px);
}

.site-wrapper {
  --site-margin: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--site-margin) * 2);
  margin: var(--site-margin);
}

.site-header,
.site-footer {
  padding: var(--site-margin);
  text-align: center;
}

.site-footer {
  margin-top: auto;
}

p,
figure,
pre,
details {
  margin-top: 1rem;
}

figcaption {
  margin-top: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
}

li {
  margin-top: 0.5rem;
  & pre {
    margin-top: 0.5rem;
  }
}

ol,
ul {
  margin-left: 1.8rem;
  margin-top: 1rem;
  & ol,
  ul {
    margin-top: 0;
  }
  & li > p:first-child {
    margin-top: 0;
  }
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: disc;
}

.content-wrapper {
  max-width: 80ch;
  width: 100%;
  padding-inline: min(1.5vw, 2.5ch);
  padding-block: 6rem;
  margin-inline: auto;
}
