:root {
  --unitless-font-size: 22;
  --footnote-font-size: 0.9em;
  font-size: calc(var(--unitless-font-size) * 1px);
  background: #eee;
  color: #212121;
}

.site-wrapper {
  --site-margin: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--site-margin) * 2);
  margin: var(--site-margin);

  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.site-header,
.site-footer {
  padding: var(--site-margin);
  text-align: center;
}

.site-footer {
  margin-top: auto;
  border-top: 4px double #888;
}

.site-footer p {
  margin-top: 0.1rem;
}

p,
figure,
pre,
details {
  margin-top: 1rem;
}

figcaption {
  margin-top: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
}

li {
  margin-top: 0.5rem;
  & pre {
    margin-top: 0.5rem;
  }
}

ol,
ul {
  margin-left: 1.8rem;
  margin-top: 1rem;
  & ol,
  ul {
    margin-top: 0;
  }
  & li > p:first-child {
    margin-top: 0;
  }
}

ol li {
  list-style-type: decimal;
}

ul li {
  list-style-type: disc;
}

.content-wrapper {
  max-width: 80ch;
  width: 100%;
  padding-inline: min(1.5vw, 2.5ch);
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-inline: auto;
}

code,
pre {
  font-size: 0.8em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* padatika styles below */

.backlinks-wrapper {
  margin-left: 4px;
}

.backlinks-wrapper sup {
  margin-left: 3px;
  font-style: italic;
}

.targeted-backlink {
  background: orange;
}

#refs + ol,
#notes + ol {
  font-size: var(--footnote-font-size);
}
