.notes {
  margin-block: 2.5rem;
  margin-left: 0;
}

.notes li {
  list-style-type: none;
  padding: 0.5rem;
  border-left: 4px double #888;
}

.note-meta {
  /* same as in note.css */
  --color: #666;
  font-size: 0.8em;
  color: var(--color);
  & a {
    color: var(--color);
  }
}
