.notes {
  margin-block: 2.5rem;
  margin-left: 0;
}

.notes li {
  list-style-type: none;
  padding: 0.5rem;
  border-left: 2px solid #bbb;
  transition: 0.3s;
}

.notes li:hover {
  border-left: 10px solid #888;
}

.note-meta {
  font-size: 0.9rem;
  display: block;
  opacity: 0.3;
}

.notes li:hover .note-meta {
  opacity: 1;
}
