.notes {
  font-size: 1.3rem;
  margin-block: 2.5rem;
  margin-left: 0;
}

.notes li {
  list-style-type: none;
  background: #eee;
  padding: 1rem;
  border-radius: 0.5rem;
}

.notes a {
  text-decoration: none;
}

.notes a:hover {
  text-decoration: underline;
}

.note-meta {
  font-size: 0.9rem;
  display: block;
  opacity: 0.3;
}

.notes li:hover .note-meta {
  opacity: 1;
}
